<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
<title>好班手</title>
<link href="__CSS__/user.css" rel="stylesheet"/>
</head>

<body class="graybg">
<!--start of body top-->
<div class="top"> 
<php>
if($_COOKIE['hbs_kind']==1){</php>
<img class="back" src="__IMAGE__/back.png" onclick="location.href='__ROOT__/index.php/Home/Index/showMainM';"/>
<php>}else{</php>

<img class="back" src="__IMAGE__/back.png" onclick="location.href='__ROOT__/index.php/Home/Index/showMain';"/>
<php>}</php>
 <span class="title">申请情况</span>
</div>
<!--end of body top-->
<div style="padding:8px;">

<volist name="list" id="vo">
<div class="part">
<p>申请班级：<font style="font-weight: bold;">{$vo.claname}</font></p>
<p>理由：{$vo.reason}</p>
<p><font color="gray" size="1%">{$vo.time}</font></p>
<p style="text-align:right;">   
<p>回复：
<if condition="$vo.status eq 0">
未查看
<elseif condition="$vo.status eq 1"/>
接受
<elseif condition="$vo.status eq -1"/>
拒绝
</if>

</p>
</p>
</div>
</volist>

 </div>
</body>
</html>
