@CHARSET "UTF-8";
div#slider{
	float:left;
	width:100%;
	height:300px;
}

div#nav {
	height:48px;
	background:#09F;
	line-height:48px;
	overflow:hidden;
	text-align:center;
}

div.top {
	padding:8px;
	height:36px;
	background:#09F;
	line-height:36px;
	overflow:hidden;
	text-align:center;
}

div.part{
	padding:8px;
	background:#FFF;
	float:left;
	text-align:left;
	font-size:12px;
	margin-bottom: 4px;
}
input[type="image"].back,img.back {
	float:left;
	width:32px;
	height:32px;
}

input[type="submit"].bt1, input[type="button"].bt1 {
	border-radius: 5px;
	border: hidden;
	background-color: #0CF;
	color: #FFF;
	width: 4em;
	font-weight: bold;
	padding: 4px;
	margin: 4px;
}

img.icon ,input[type="image"].icon{
	margin-left:8px;
	width:16px;
	height:12px;
}

body {
	margin: 0;
	padding: 0;
	background:#FFF;
	font-family:"Microsoft YaHei", 微软雅黑, "MicrosoftJhengHei", 华文细黑, STHeiti, MingLiu;
	font-size: 16px;
	color: #000;
	width:100%;
	height:100%;
}

body.graybg {
	background: #eee;
}
span.title {
	float:left;
	margin-left:36px;
	font-weight:bold;
	color:#FFF;
	font-size:20px;
}
span.title1{
	font-size:16px;
	font-weight:bold;
	}
span.bluetext1 {
	color:#099;
	margin:0 4px;
	font-size:16px;
	font-weight:bold;
	text-align:left;
}

.bt{
	background:#66F;
	color:#FFF;
	padding:8px;
	border-radius:5px;
	border:hidden;
	}

hr.line {
	text-decoration:underline;
	color:#099;
	border:1px solid #099;
	margin:0;
	width:100%;
}	

a.text{
	float:right;
	text-decoration:none;
	color:#FFF;
	}
a.text1{
	float:right;
	text-decoration:none;
	color:gray;
	}