<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
<title>班级详情</title>
<link rel="stylesheet" type="text/css" href="__CSS__/activity.css"  />
<link rel="stylesheet" type="text/css" href="__CSS__/slide.css"  />
<script src="__JS__/jquery-3.1.1.min.js"></script>
</head>
<body>
<!--start of body top-->
<div class="top"> 
<php>
if($_COOKIE['hbs_kind']==1){</php>
<img class="back" src="__IMAGE__/back.png" onclick="location.href='__ROOT__/index.php/Home/Index/showMainM';"/>
<php>}else{</php>

<img class="back" src="__IMAGE__/back.png" onclick="location.href='__ROOT__/index.php/Home/Index/showMain';"/>
<php>}</php>
 <span class="title">班级详情</span>
</div >
<!--end of body top-->

<div class="content">
<div style="text-align: center;"><span style="background:#03C;color:#FFF;padding:8px;">{$claname}</span>
<hr class="line1"/>
</div>

<div class="tranbg">
<div style="text-align:center;">
<img src="{$photo}" style="width:240px;height:180px;padding:4px;" />
</div>
<br/>

<span class="bluetext1 textleft">班级</span>
<hr class="line"/>
学校：<font color="blue">{$school}	</font><br/>
学院：<font color="blue">{$college}</font>	<br/>
专业：<font color="blue">{$grade}级{$major}</font><br/>
<br />
<span class="bluetext1 textleft">班级简介</span>
<hr class="line"/>
{$summery}<br/>
<br/>
<span class="bluetext1 textleft">参加过的活动</span>
<hr class="line"/>
<volist name="actlist" id="vo">
<a href="__ROOT__/index.php/Home/Activity/showActDetail?id={$vo.id}">{$vo.name}</a><br/>
</volist>
<br/>
<div style="text-align:right;">
<form action="./good" method="post">
<input type="hidden" name="id" value="{$id}"/>
<input type="hidden" name="part" value="classes"/>
<input type="image" src="__IMAGE__/good_on.png" class="icon" /><font color="red" size="1%">（{$good}）</font>
</form>
</div>

<div style="text-align: center;">
<input type="button" value="邀请联谊" class="bt2" onclick="location.href='./showInvite'"/>
</div>
<br/>
<span class="bluetext1 textleft">评论</span>
<hr class="line"/>
<volist name="list" id="vo">
<form action="./good" method="post">
<input type="hidden" name="id" value="{$vo.id}"/>
<input type="hidden" name="part" value="classes"/>
{$vo.username}:<font color="brown">{$vo.content}</font><br/>
<div style="text-align:right;">
<font color="gray" size="1%">{$vo.time}</font>
<input type="image" src="__IMAGE__/good_on.png" class="icon"/><font color="red" >（{$vo.good}）</font>
</div>
</form>
</volist>


</div>
<form action="./comment" method="post" >
<input type="hidden" name="pid" value="{$id}"/>
<input type="hidden" name="part" value="classes"/>
<input type="text" name="content" style="border-radius: 5px;border:1px solid gray;padding:4px;width:75%;margin:4px;"/>
<input type="submit" class="bt3" value="评论"/>
</form>

</body>
</html>
