<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
<title>好班手</title>
<link rel="stylesheet" type="text/css" href="__CSS__/activity.css"  />

</head>


<body>
<div class="top"> 
<php>
if($_COOKIE['hbs_kind']==1){</php>
<img class="back" src="__IMAGE__/back.png" onclick="location.href='__ROOT__/index.php/Home/Index/showMainM';"/>
<php>}else{</php>

<img class="back" src="__IMAGE__/back.png" onclick="location.href='__ROOT__/index.php/Home/Index/showMain';"/>
<php>}</php>
 <span class="title">发出邀请函</span>
</div >


<form action="./actInvite" method="post">
<table style="margin:8px auto;width:80%">
<tr>
<td>邀请班级</td>
<td><select type="text" name="invited" class="select1">
<volist name="clalist" id="vo">
<option value="{$vo.id}">{$vo.claname}</option>
</volist>
</select>
</td></tr>
<tr>
<td>联谊时间</td>
<td>
<input type="text"  name="actime" class="text2"/>
</td></tr>

<tr>
<td>邀请内容</td>
<td><textarea name="content" class="ta3"></textarea></td>
</tr>

<tr>
<td>邀请活动</td>
<td>
<select type="text" name="class" class="select1">
<volist name="actlist" id="vo">
<option value="{$vo.id}">{$vo.name}</option>
</volist>
</select>
</td></tr>
</table>
<font color="red">{$error}</font>
<div style="text-align:center;">
<input type="submit"  value="发出邀请" class="bt2"/>
</div>
</form>
</body>
</html>
